-e git+ssh://git@github.com/kota-yata/2023f-wip.git@866c42ba8c40e846ef0312f1daa7d19877d76dcf#egg=aioice&subdirectory=aioice
-e git+ssh://git@github.com/kota-yata/2023f-wip.git@866c42ba8c40e846ef0312f1daa7d19877d76dcf#egg=aioquic&subdirectory=aioquic
attrs==23.2.0
certifi==2023.11.17
cffi==1.16.0
cryptography==41.0.7
dnspython==2.5.0
netifaces==0.11.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pylsqpack==0.3.18
pyOpenSSL==23.3.0
service-identity==24.1.0
websockets==12.0
